@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=DM+Mono:wght@400;500&family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* THEME VARIABLES */
    :root {
        --color-tittle: #000000; 
        --color-subtitle: #323232; 
        --color-text: #191919;
        --color-mono: #916dad;;
        --color-quote: #666666;
        
        --color-base: #000000; 
        --color-primary: #EF4848; 
        --color-secundary: #916dad; 
        --color-tertiary: #57B8FF; 
        
        --color-inverted: #FFFFFF;
        --color-disabled: #999999;
        --color-highlight: #7E22CE;
        --color-error: 	#cc3300;
        --color-warning: #ffcc00;
    }

    body {
        @apply w-full h-full 
    }

    #root {
        @apply w-full h-full font-sans text-skin-text
    }

    h1 {
        @apply text-xl lg:text-3xl xl:text-5xl text-skin-title font-title font-bold
    }

    h2 {
        @apply text-lg lg:text-xl xl:text-2xl font-title font-semibold text-skin-title
    }

    h3 {
        @apply text-base lg:text-lg xl:text-xl text-skin-subtitle
    }

    p {
        @apply text-sm lg:text-base xl:text-xl tracking-wide 
    }

    span {
        @apply text-sm lg:text-sm xl:text-base font-mono font-light
    }

    a {
        @apply text-sm lg:text-base xl:text-xl tracking-wide font-light
    } 
   
}

@layer components {

    /* 
    * GLOBAL COMPONENTS 
    *
    *
    */

    .btn-primary {
        @apply w-52 h-auto px-4 py-2 text-base lg:text-2xl 
        font-light text-skin-text
        border border-skin-base rounded-sm 
        hover:border-none hover:bg-skin-inverted hover:text-skin-text
        transition ease-in-out duration-500
    }

    .btn-secundary {
        @apply w-52 h-auto px-4 py-2 text-base lg:text-xl
        border border-skin-base rounded-md 
        hover:border-none hover:bg-skin-inverted hover:text-skin-inverted
        transition ease-in-out duration-500
    }

    .btn-desable {
        @apply w-52 h-auto px-4 py-2 text-base lg:text-xl
        border border-skin-base rounded-md 
        hover:border-none hover:bg-skin-inverted hover:text-skin-inverted
        transition ease-in-out duration-500
    }

    /* 
    * FORM PADRÃO 
    * 
    *
    */

    .input-default {
        @apply w-[20rem] h-auto flex flex-col uppercase text-skin-inverted
    }

    .input-default input {
        @apply w-full h-12 border-b border-white/20
        focus:outline-none  bg-transparent text-lg font-light
    }

    .input-default select {
        @apply w-full h-12 px-4 border border-skin-base rounded-md
        focus:outline-none focus:ring-2 ring-skin-highlight 
    }

    .input-default label {
        @apply w-full h-full py-1 
    }

    .input-disabled {
        @apply w-full h-auto flex flex-col 
    }

    .input-disabled input {
        @apply w-full h-12 px-4 border border-skin-base rounded-md
    }

    .input-disabled label {
        @apply w-full h-full p-3 
    }


    /* 
    * MENUS
    *
    *
    */
    
    .nav-principal {
        @apply w-full h-auto py-2
        flex justify-start items-center
        bg-skin-base text-skin-inverted
    }

    .nav-tags {
        @apply w-full h-auto py-1
        flex justify-start items-center
        bg-gray-50
    }

    .toggle-button {
        @apply w-32 h-auto
        flex justify-center items-center
    }

    .menu-principal {
        @apply w-full h-full px-4 py-2
        flex justify-start items-center
    }

    .menu-principal > li {
        @apply w-auto h-full px-4 py-1
        flex justify-center items-center
        rounded-sm hover:bg-skin-disabled
    }

    .menu-access {
        @apply w-full h-full mr-4
        flex justify-end items-center space-x-4
    }

    .menu-access > li {
        @apply w-auto h-full px-4 py-1
        flex justify-center items-center
        rounded-sm hover:bg-skin-highlight 
    }

    .access-link {
        @apply text-skin-inverted text-xl font-semibold 
        capitalize tracking-wide
    }

    .dropdown {
        @apply absolute top-12 w-40 p-2 text-left
        rounded-md bg-skin-inverted z-40
    }

    .dropdown > li {
        @apply w-full h-full px-4 hover:bg-skin-primary 
    }

    .stricto-link {
        @apply text-skin-inverted text-xl font-semibold capitalize tracking-wide
    }

    .menu-tags {
        @apply w-full h-full px-2 z-20
        flex justify-start items-center
    }

    .menu-tags > li {
        @apply w-auto h-full px-2
        flex justify-center items-center
        rounded-sm hover:bg-gray-300
    }

    .tags-link {
        @apply text-gray-500 text-lg font-thin 
        capitalize tracking-wide
    }

    /*
    * BLOG
    *
    */

    .blog-wrapper {
        @apply w-full h-full
        flex flex-col justify-start items-start
    }

    .main-content {
        @apply w-full h-full 
        flex flex-col justify-center items-center
    }

    .capa {
        @apply w-full h-full
        flex flex-col justify-center items-start
    }

    .capa-materia {
        @apply w-full h-full
        flex flex-col justify-center items-start
    }

    .capa-titulo {
        @apply w-[45rem] h-full absolute top-72 left-16
        text-skin-inverted text-5xl uppercase z-10
    }

    .capa-materia > img {
        @apply w-full h-[25rem] xl:h-[30rem] object-cover bg-center
        z-0
    }

    .capa-autor {
        @apply w-[45trem] h-auto absolute top-[25rem] left-16
        flex justify-start items-center
    }

    .capa-autor > p{
        @apply px-2 text-skin-inverted text-xl font-semibold
        bg-skin-highlight
    }


    /* 
    * LOGIN 
    *
    *
    */

    .login {
        @apply w-full h-full p-6 flex justify-center items-center
        bg-gradient-to-br from-blue-900 to-green-700
    }

    .login > section {
        @apply w-1/2 h-full px-6 py-12 flex justify-start items-center
        backdrop-blur-sm bg-white/5 rounded-lg drop-shadow-lg
    }

    .login > section > article {
        @apply w-full h-full px-6 ml-6 flex flex-col justify-center items-start
    }

    .login > aside {
        @apply w-1/2 h-full p-24 flex justify-center items-center
        backdrop-blur-sm bg-black/5 rounded-lg drop-shadow-lg
    }

    .singin-form {
        @apply w-full h-full py-12 flex flex-col justify-center items-center
    }

    .login-link-wrapper {
        @apply w-1/2 h-auto py-6 flex justify-center items-center text-center
    }

    .login-link {
        @apply w-full h-full text-2xl tracking-wide capitalize text-skin-inverted
        px-4 py-2 flex justify-center items-center text-justify rounded-sm
        hover:underline hover:text-skin-highlight font-bold
    }

    .erro-msg {
        @apply self-start text-lg font-thin text-cyan-400
    }

    /* 
    * SOCIAL
    * 
    */

    .social-svg {
        @apply  stroke-white stroke-1 w-6 h-auto hover:stroke-secundary
    }

    .social-nav {
        @apply w-auto h-full px-10 flex justify-center items-center
    }

    .social-nav > ul {
        @apply w-auto h-full flex flex-col justify-start items-center
    }

    .social-nav > ul > li {
        @apply w-auto h-auto mt-6
    }

    
}